* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #969696;
}

// Layout
main {
  background-position: center;
  background-size: contain;
  overflow: hidden;
  background-color: #19a2ae;

  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.heading-secondary {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: #2d3248;
}

.strong {
  font-weight: 700;
  color: #2d3248 !important;
}

.bg-pattern-top,
.bg-pattern-bottom {
  position: absolute;
}

.bg-pattern-top {
  top: 0;
  left: 0;
  transform: translate(-25%, -50%);
}

.bg-pattern-bottom {
  bottom: 0;
  right: 0;
  transform: translate(25%, 50%);
}

// card
.card {
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

  &__pattern {
    height: 14rem;
    background-image: url('../images/bg-pattern-card.svg');
  }

  &__user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -5rem;
    margin-bottom: 2rem;
  }

  &__user {
    border-radius: 50%;
    margin-bottom: 2.2rem;
    box-shadow: 0 0 0 0.6rem #ffffff;
  }

  &__user-name {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
  }

  &__user-location {
    font-size: 1.4rem;
  }

  &__user-data {
    padding: 3.2rem 0;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-top: 1px solid #cccccc;

    p {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  // temp
  width: 34rem;
}

// media queries
@media screen and (max-width: 75em) {
  .bg-pattern-top,
  .bg-pattern-bottom {
    width: 72rem;
  }
}

@media screen and (max-width: 75em) {
  .bg-pattern-top,
  .bg-pattern-bottom {
    width: 72rem;
  }

  .bg-pattern-top {
    transform: translate(-50%, -50%);
  }

  .bg-pattern-bottom {
    transform: translate(50%, 50%);
  }
}

/*
## Font sizes
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

## Spacing system
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
